body, html {
	background-color: #333;
}

h1 { display: block; text-align: center;
	color: #FFF;
	margin: 40px auto 20px; 
	font-size: 30px;
	font-family: Georgia, Times, serif;
}

#scissors.active,
#paper.active,
#rock.active,
#scissors:active,
#paper:active,
#rock:active { border-color: yellow; color: yellow; }

#directions-text { 
	display: block;
	text-align: center;
	color: #EDEDED;
	padding: 0 0 20px 0;
}
#directions-text span { border: 1px solid #EEE; padding: 2px 8px; border-radius: 3px; }

div {
	font-family: Helvetica, Arial, sans-serif !important;
}
.results { 
	text-align: center;
	display: block; 
	width: 90%;
	max-width: 500px;
	margin: 10px auto;
}

#wins,
#losses,
#ties {
	border: 1px solid #999;
	display: inline-block;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	margin: 0 5px;
	height: 37px;
	text-transform: uppercase;
	color: #FFF;
}

#wins.active {
	border: 1px solid #15fc03;
	color: #15fc03;
}
#losses.active {
	border: 1px solid #ff0000;
	color: #ff0000;
}
#ties.active {
	border: 1px solid yellow;
	color: yellow;
}

#wins span,
#losses span,
#ties span {
	color: #999;
	font-size: 12px;
	padding: 2px 8px 0px 5px;
	float: left;
}

.results-animated { 
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	width: 90%; max-width: 600px; 
	background: #FFF;
	margin: 10px auto;
	padding: 0;
}
.clearfix { float: left; width: 100%; }
.results-animated img { float: left; width: 100%; height: auto !important;  }
.results-animated .left { width: 50%; display: inline-block; float: left; transition: all 1s linear; }
.results-animated .right { width: 50%; display: inline-block; float: right; transition: all 1s linear; }
.results-animated .left  { margin-left: -95%; }
.results-animated .right { margin-right: -95%; } 
.results-animated .left.start  { margin-left: -1%; }
.results-animated .right.start  { margin-right: -1%; } 

.status {
	position: absolute; z-index: 9;
	opacity: 0.1;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	margin: 60px auto;
	font-size: 50px;
}

.status.ready {
	color: #15fc03;
	opacity: 1;
}

@media (max-width: 400px) {
	.status { 
		margin: 30px auto;
	}
	#wins,
	#losses,
	#ties {
		display: inline-block;
		float: none;
		width: 29%;
		margin: 0 3px 10px 0;
	}

}


