body, html {
	background-color: #333;
}

.game { 
	display: none; 
}

h1 { display: block; text-align: center;
	color: #FFF;
	margin: 40px auto 20px; 
	font-size: 30px;
	font-family: Georgia, Times, serif;
}

.player-start { 
	color: #FFF;
	display: block; 
	text-align: center;
	width: 100%;
	padding: 30px;
	font-size: 20px;
}
.player-start input { 
	width: 90%;
	margin: 20px auto;
	font-size: 27px;
	max-width: 600px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #FFF; 
	color: #000;
	text-align: center;
	cursor: pointer;
	
}

.player-start.error input {
	border: 2px solid #FF0000;
}


.player-start .start {
	font-size: 15px;
	display: block;
	max-width: 200px;
	margin: 5px auto;
	width: 90%;
	color: #FFF;
	border-radius: 3px;
	border: 1px solid #FFF;
	background: #333;
	padding: 10px;
	text-decoration: none;
	outline: none;
}
.player-start .start:hover {
	background: #888;
}



.player1,.player2 {
	font-size: 20px; 
	opacity: 0.5;
	position: absolute;
	padding: 10px;
	border-radius: 4px;
	color: white;
}

.player1 { 
	bottom: 5px; 
	left: 5px;
	background: green;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 10px;
	padding-right: 50px;
}
.player2 {  
	background: red;
	padding-left: 50px;
	top: 5px; right: 5px;
	border-bottom-left-radius: 100px;
	border-top-right-radius: 10px;
	
}

#scissors:hover,
#paper:hover,
#rock:hover {
	border-color: #15fc03; color: #15fc03;
	cursor: pointer;
}

#scissors.active,
#paper.active,
#rock.active,
#scissors:active,
#paper:active,
#rock:active { border-color: yellow; color: yellow; }

.game #directions-text { 
	display: block;
	text-align: center;
	color: #EDEDED;
	padding: 0 0 20px 0;
}
.game  #directions-text span { border: 1px solid #EEE; padding: 2px 8px; border-radius: 3px; }

div {
	font-family: Helvetica, Arial, sans-serif !important;
}
.results { 
	text-align: center;
	display: block; 
	width: 90%;
	max-width: 500px;
	margin: 10px auto;
}

#wins,
#losses,
#ties {
	border: 1px solid #999;
	display: inline-block;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	margin: 0 5px;
	height: 37px;
	text-transform: uppercase;
	color: #FFF;
}

#wins.active {
	border: 1px solid #15fc03;
	color: #15fc03;
}
#losses.active {
	border: 1px solid #ff0000;
	color: #ff0000;
}
#ties.active {
	border: 1px solid yellow;
	color: yellow;
}

#wins span,
#losses span,
#ties span {
	color: #999;
	font-size: 12px;
	padding: 2px 8px 0px 5px;
	float: left;
}

.results-animated { 
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	width: 90%; max-width: 1000px; 
	background: #FFF;
	margin: 10px auto;
	padding: 0;
}
.clearfix { float: left; width: 100%; }
.results-animated img { float: left; width: 100%; height: auto !important;  opacity: 0 !important; }
.results-animated .left { width: 50%; display: inline-block; float: left; transition: all 1s linear; }
.results-animated .right { width: 50%; display: inline-block; float: right; transition: all 1s linear; }
.results-animated .left  { margin-left: -95%; }
.results-animated .right { margin-right: -95%; } 
.results-animated .left.start  { margin-left: -1%; }
.results-animated .right.start  { margin-right: -1%; } 

.options { 
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
	max-width: 700px;
	z-index: 99;
}

.options .button {
	transition: all 0.08s linear;
	width: 13%;
	display: inline-block;
	margin: -75px 5px 20px;
	overflow: hidden;
	border-radius: 1000px;
}
.options .button:active,
.options .button.active {
	margin: -95px 5px 30px;
}

.options .button img {
	display: inline-block;
	width: 100%;
	height: auto;
	border-radius: 1000px;
}

.status {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	z-index: 9;
	opacity: 0.1;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 50px;
}

.status * { 
	display: inline;
}

.status.ready {
	color: #15fc03;
	opacity: 1;
}

.status.win,
.status.loss,
.status.tie {
	opacity: 1;
	color: white;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #999;
}

.challenger {
	width: 90%;
	opacity: 0.4;
	border: 1px dashed #CCC;
	margin: 50px auto;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	max-width: 600px;
	color: #FFF;
	font-size: 20px;
	overflow: hidden;
	position: relative;
}
.challenger::after {
		content: '';
		opacity: 0.3;
		position: absolute;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	  }
.challenger::after, 
.challenger::after {
		animation: sheen 3s infinite;
}
@keyframes sheen {
	0% {
		transform: rotateZ(60deg) translate(20em, 20em);
	}
	100% {
		transform: rotateZ(60deg) translate(1em, -20em);
	}
}

@media (max-width: 768px) {
	.player1 { 
		top: 5px; 
		bottom: auto; 
		border-top-right-radius: 0px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 100px;
	}
	.game #directions-text { display: none; }
	.results-animated .left  { height: 250px; }
	.results-animated .right  {  height: 250px; }

	.options .button {
		width: 15%;
	}
}

@media (max-width: 400px) {

	.options .button {
		width: 20%;
	}

	#wins,
	#losses,
	#ties {
		display: inline-block;
		float: none;
		width: 29%;
		margin: 0 3px 10px 0;
	}

	.player1,
	.player2 { font-size: 12px; }

}


